.logo{
  color:white;
  font-size:24px;
  font-weight:bold;
}
header{
  display:flex; /* logo and nv links in row-->*/
  justify-content:space-between;   /*logo in left & nav links in right*/
  align-items:center;
  padding:20px;
  background:#1F2937;
  color:white;

}
nav a{              /*selecting all <a> inside nav , writing only <a> without nav will affect all links on page */
  color:white;
  text-decoration:none;
   margin-left:20px;
}
.hero{
  display:flex;
  justify-content:space-between;
  background:#1F2937;
  padding:60px 80px;
}
.hero-image{
  width:50%;
  display:flex;
  justify-content:center;     /*left to right*/
  align-items:center;          /*top to bottom*/
  background:gray;
  color:white;
}
.hero-text{
  width:50%;
  color:white;
}
.info{
  padding:60px 80px;
  text-align:centre;

}
.cards{
  display:flex;
  justify-content:space-between;    /*spread images evenly*/
  margin-top:40px;
  gap:24px;
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
  /*flex-wrap:wrap;   // it will shift some boxes into next line
  max-width:1000px;
  margin:40px auto 0;*/

}
figure{

  width:100px;
  text-align:center;
}
figure img{
  width:160px;
 aspect-ratio:1/1; /* perfect sqaure*/
  border:3px solid #3882f6;
  border-radius:12px;
  margin-bottom:10px;
}
.quote{
  background:#E5E7EB;
  padding:80px 200px;   /*space around text */

}
.quote blockquote{
  font-size:36px;
  font-weight:300;
  font-style:"Roboto";
  color:#1F2937;
  margin:0;      /*remove default margin*/
}
.quote .author{
  text-align:right;
  font-weight:600;
  margin-top:20px;
}
.CTA{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#3882f6;
  padding:40px 80px;   /*text ka blue border se space*/
  margin:60px 80px;     /*blue box ka screen ke space*/
  border-radius:10px;
 }
 .cta-text{
  color:white;
 }
 .cta-title{
  font-size:20px;
  font-weight:700;
  margin:0;
 }
 .cta-subtext{
 font-size:14px;
 opacity:0.8;
 margin-top:5px;
 }
 .cta-btn{
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px 28px;
  font-weight: 600;
  cursor: pointer;
 }
 .cta-btn:hover {
  background: white;
  color:rgb(229, 43, 74);
}

